@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@layer base {
  :root {
    --background: 220 16% 96%;
    --foreground: 220 16% 16%;
    --card: 0 0% 100%;
    --card-foreground: 220 16% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 16% 16%;
    --primary: 220 16% 22%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 16% 92%;
    --secondary-foreground: 220 16% 22%;
    --muted: 220 16% 92%;
    --muted-foreground: 220 16% 45%;
    --accent: 220 16% 92%;
    --accent-foreground: 220 16% 22%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 16% 90%;
    --input: 220 16% 90%;
    --ring: 220 16% 22%;
    --chart-1: 220 16% 32%;
    --chart-2: 220 16% 45%;
    --chart-3: 220 16% 58%;
    --chart-4: 220 16% 71%;
    --chart-5: 220 16% 84%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 16% 16%;
    --foreground: 0 0% 98%;
    --card: 220 16% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 220 16% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 220 16% 16%;
    --secondary: 220 16% 26%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 16% 26%;
    --muted-foreground: 220 16% 65%;
    --accent: 220 16% 26%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 16% 26%;
    --input: 220 16% 26%;
    --ring: 220 16% 84%;
    --chart-1: 220 16% 84%;
    --chart-2: 220 16% 71%;
    --chart-3: 220 16% 58%;
    --chart-4: 220 16% 45%;
    --chart-5: 220 16% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .markdown * {
    font-size: 12px;
  }

  .markdown p {
    @apply mb-4;
  }

  .markdown ul,
  .markdown ol {
    @apply mb-2;
  }

  .markdown li {
    @apply mb-1;
  }

  .markdown strong {
    @apply font-semibold;
  }

  .avatar {
    width: 100.41px;
    height: 100px;
    background: linear-gradient(90deg, #2c3e50 0%, #34495e 46.87%, #7f8c8d 100%);
    border-radius: 80px;
  }
}
